################################################################################
# GITIGNORE TEMPLATE
# Projeto: Java / Spring Boot / Maven
#
# Objetivo:
# Ignorar arquivos gerados automaticamente pela IDE, Maven, Gradle,
# sistema operacional e ferramentas de desenvolvimento.
################################################################################


################################################################################
# DOCUMENTAÇÃO LOCAL
################################################################################

HELP.md


################################################################################
# MAVEN
################################################################################

# Diretório gerado durante a compilação
target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Permite manter targets dentro de projetos específicos (caso necessário)
!**/src/main/**/target/
!**/src/test/**/target/


################################################################################
# GRADLE
################################################################################

.gradle/
build/

# Permite manter builds dentro de projetos específicos (caso necessário)
!**/src/main/**/build/
!**/src/test/**/build/


################################################################################
# ARQUIVOS COMPILADOS
################################################################################

*.class
*.jar
*.war
*.ear


################################################################################
# INTELLIJ IDEA
################################################################################

.idea/
*.iml
*.ipr
*.iws


################################################################################
# SPRING TOOL SUITE (STS)
################################################################################

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


################################################################################
# ECLIPSE
################################################################################

**/.project
**/.classpath
**/.settings/
**/.factorypath
**/.tern-project

bin/
blog/bin/


################################################################################
# NETBEANS
################################################################################

/nbproject/private/
/nbbuild/
/nbdist/
/dist/
/.nb-gradle/


################################################################################
# VISUAL STUDIO CODE
################################################################################

.vscode/


################################################################################
# NODE.JS
################################################################################

node_modules/


################################################################################
# MOBILE TOOLS FOR JAVA (J2ME)
################################################################################

.mtj.tmp/


################################################################################
# CHAVES E CERTIFICADOS
################################################################################

*.pem
*.ppk


################################################################################
# ARQUIVOS TEMPORÁRIOS
################################################################################

*.bak
*.ini


################################################################################
# LOGS DE FALHA DA JVM
################################################################################

# Arquivos gerados quando a JVM sofre um crash.
hs_err_pid*


################################################################################
# METADADOS DO ECLIPSE
################################################################################

.metadata/